<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">

    <title>Taco v Taco</title>
</head>
<body>
    <style>
        .vote-button{
            cursor: pointer;
        }
    </style>
    <script>
        var voted = false;
        function vote(winnerDOMID, loserDOMID){
            if (voted) {
                return
            }
            voted = true
            let winner = document.getElementById(winnerDOMID)
            let loser = document.getElementById(loserDOMID)
            let winnerID = winner.dataset.photoId
            let loserID = loser.dataset.photoId

            getData(`/photos`)
            .then(resp => {
                return resp.json()
            })
            .then(data => {
                winner.dataset.photoId = data.photoA.id;
                winner.src = data.photoA.baseUrl;
                loser.dataset.photoId = data.photoB.id;
                loser.src = data.photoB.baseUrl;
                voted = false;
            })

            postData(`/vote`, {winner: winnerID, loser: loserID})
            .catch(error => console.error(error));
        }

        function postData(url = ``, data = {}) {
            return fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                },
                redirect: 'follow',
                referrer: 'no-referrer',
                body: JSON.stringify(data),
            });
        }

        function getData(url = ``, data = {}) {
            return fetch(url, {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                },
                redirect: 'follow',
                referrer: 'no-referrer'
            });
        }
    </script>
    <div class="container">
        <h1 class="">Taco v Taco</h1>
        <h4>May the best Taco win.</h4>
        <p>Which Taco is cutest? Click to vote!</p>
        <div class="row">
            <div class="column col-6">
                <a class="vote-button" onclick="vote('photo-a', 'photo-b')"><img data-photo-id="{{photoA.id}}" id="photo-a" src="{{photoA.baseUrl}}"></a>
            </div>
            <div class="column col-6">
                <a class="vote-button" onclick="vote('photo-b', 'photo-a')"><img data-photo-id="{{photoB.id}}" id="photo-b" src="{{photoB.baseUrl}}"></a>
            </div>
        </div>
    </div>
</body>
</html>

